// @use "./styles.scss";
$s: 600px; // Mobile
$m: 792px; //tablet
$lg: 769px; // desktop

@mixin mobile {
    @media only screen and (max-width: $s) {
        @content;
    }
}
@mixin tablet {
    @media only screen and (min-width: $s + 1px) and (max-width: $m) {
        @content;
    }
}

@mixin desktop {
    @media only screen and (min-width: $lg) {
        @content;
    }
}

//or
//for desktops do not display any content labelled as mobile-only
// @media (min-width: 1728px) {
//     .mobile-only {
//         display: none;
//     }
// }
