$font-xs: 0.75rem; // 12px
$font-sm: 0.875rem; // 14px
$font-base: 1rem; // 16px
$font-lg: 1.25rem; // 20px
$font-xl: 1.5rem; // 24px
$font-xxl: 2rem; // 32px

//colours
$background-colour: rgb(172, 128, 180);
$banner-dark: rgb(62, 27, 79);
$banner-medium: rgb(113, 44, 113);
$link-colour: white;
$link-visited: rgb(216, 207, 216);
